@model Homework3.Models.Product

<h2>Add Product</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Description</label>
        <input asp-for="Description" />
    </div>
    <div>
        <label>Quantity</label>
        <input asp-for="Quantity" />
    </div>
    <div>
        <label>Price</label>
        <input asp-for="Price" />
    </div>
    <button type="submit">Add Product</button>
</form>